[Unit]
Description=Steam Shortcut Auto Fixer

[Service]
ExecStart=%h/.local/bin/steam-shortcut-fixer-daemon.sh
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
